.venv/
spark-sql
orders_large.csv
orders_csv_9/
orders_csv_12/
write-data-in-spark/demo1
write-data-in-spark/demo2

write-data-pyspark/demo1
write-data-pyspark/demo2

write-data-pyspark-2/cust_partition
join-in-spark-2-bang-lon/spark-warehouse